---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=1&q=Istanbul
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Key:
      - WEATHER_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.03'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/17/2023 17:42:48
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - dde3758d10de714257f60ddb7c02b289
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Istanbul","region":"Istanbul","country":"Turkey","lat":41.02,"lon":28.96,"tz_id":"Europe/Istanbul","localtime_epoch":1689615768,"localtime":"2023-07-17
        20:42"},"current":{"last_updated_epoch":1689615000,"last_updated":"2023-07-17
        20:30","temp_c":26.0,"temp_f":78.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":16.1,"wind_kph":25.9,"wind_degree":60,"wind_dir":"ENE","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":58,"cloud":0,"feelslike_c":27.4,"feelslike_f":81.3,"vis_km":10.0,"vis_miles":6.0,"uv":6.0,"gust_mph":20.4,"gust_kph":32.8},"forecast":{"forecastday":[{"date":"2023-07-17","date_epoch":1689552000,"day":{"maxtemp_c":31.9,"maxtemp_f":89.4,"mintemp_c":22.2,"mintemp_f":72.0,"avgtemp_c":26.0,"avgtemp_f":78.8,"maxwind_mph":17.4,"maxwind_kph":28.1,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":7.0},"astro":{"sunrise":"05:46
        AM","sunset":"08:34 PM","moonrise":"04:55 AM","moonset":"08:53 PM","moon_phase":"New
        Moon","moon_illumination":"1","is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1689541200,"time":"2023-07-17
        00:00","temp_c":23.0,"temp_f":73.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":69,"wind_dir":"ENE","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":70,"cloud":0,"feelslike_c":25.0,"feelslike_f":77.0,"windchill_c":23.0,"windchill_f":73.4,"heatindex_c":25.0,"heatindex_f":77.0,"dewpoint_c":17.3,"dewpoint_f":63.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.7,"gust_kph":25.2,"uv":1.0},{"time_epoch":1689544800,"time":"2023-07-17
        01:00","temp_c":22.7,"temp_f":72.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":66,"wind_dir":"ENE","pressure_mb":1017.0,"pressure_in":30.03,"precip_mm":0.0,"precip_in":0.0,"humidity":72,"cloud":0,"feelslike_c":24.9,"feelslike_f":76.8,"windchill_c":22.7,"windchill[...]
